.form
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
    width: 25%;
}

.label
{
    padding: 16px 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.error
{
    position: absolute;
    left: 0;
    bottom: 0;
    color: orangered;
    font-size: 12px;
}

.button
{
    width: 25%;
}